:root{
    --gary:gray;
    --balck:black;
    --white:white;
    --green:rgb(37, 131, 37);
    --pink:rgb(115, 59, 179);
    --purple: rgb(114, 2, 114);
    --red:rgb(255, 0, 0);
}
*{
    box-sizing: border-box;
    margin: 0;
/* background-color: var(--gary);
color: var(--white); */
}


.images {
   
    height: 30rem;
    background-image: url(https://source.unsplash.com/700x600/?currency);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;   
    justify-content: center;    
    display: flex;
    align-items: center;    
    margin-bottom: 2em;

}
.images h1:hover{
    color: var(--green);
    /* opacity: 0.4; */
}
.cCode a{
    cursor: pointer;
    color:var(--balck);
    text-decoration-line: none;
}
section{
   
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3em;
}
.size{
    font-size: larger;
    font-weight: 800;
    color: green;
}
tr:nth-child(even){   
    background-image: linear-gradient(to right, var(--balck), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loadingBox.loading{
    visibility: hidden;
    max-height: 1rem;
    position: relative;
}
.loadingBox.loading:after{
    visibility: visible;
    content: "Loading...";
    position: absolute;
    top: 0;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 2px solid var(--balck);
    padding: 2px;
    text-align: left;
}

.dateInfo{
    text-transform: capitalize;
    padding: 1em;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: space-between;
}
address {   
    background-image: linear-gradient(to right, var(--pink), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;
    font-weight: 700;
    width: 100%; 
    max-width: 225px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
footer{
    background-color: var(--gary);
    font-size: large;
    font-weight: 700;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:473px){
    .images{
        width:29rem;
    }
    
}